body {
    margin: 0;
    padding: 0;   
    font-family: "Open Sans", Arial, sans-serif; 
}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;   
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.header {    
    background-image: url(../img/Gradient.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;   
}
.main_title {
    margin: 0;
    text-align: center;
    padding-top: 126px;
    padding-bottom: 126px;
    font-size: 48px;
    color: #fff;
    font-weight: normal;
}
.container_item {
    padding-bottom: 70px;
    }
.container_item__title {
    margin: 0px;
    margin-left: 50px;  
    margin-bottom: 35px;
    padding-top: 20px;
    font-size: 30px;
    color: #333;
    line-height: 1.9;     
    font-weight: normal;   
}
.text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-left: 50px;
    margin-bottom: 30px; 
}
.container_item__description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-left: 50px;
}
.container_item__title-small {
   color:  #325d72;
   font-size: 24px;
   line-height: 1.9;
   margin-left: 50px; 
   margin-bottom: 35px; 
   border-bottom: 1px solid #ddd;
   font-weight: normal;
}
.url{
    text-decoration: none;
    color: #4e8bc8;
} 
.main_footer {    
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    padding: 30px 0 65px 0;       
}
.copyright {
    font-size: 14px;
    color:#bebebe;
    float: left;
}  
.navigation__list {
    padding: 0;
    margin: 14px 0;
    list-style: none;
    float: right;    
} 
.navigation__item {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-right: 20px;
}
.navigation__url {
    text-decoration: none;
    font-size: 14px;
    color: #5992cb;
}